on:
  push:
    tags:
      - 'windows-ctl-v*'
      - 'ctltool-v*'

name: release

jobs:
  create-release:
    name: create GitHub release
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          prerelease: ${{ contains(github.ref, 'pre') || contains(github.ref, 'rc') }}

  publish:
    needs:
      - create-release
    runs-on: ubuntu-latest
    environment: release
    steps:
      - uses: actions/checkout@v5

      - name: publish to crates.io
        env:
          CARGO_REGISTRY_TOKEN: "${{ secrets.CRATES_IO_TOKEN }}"
        run: |
          tag="${GITHUB_REF#refs/tags/}"
          package_being_published="${tag%-v*}"
          cd "${package_being_published}" && cargo publish
