name: Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: test
        run: cargo test

      - name: test ctltool
        run: |
          curl http://www.download.windowsupdate.com/msdownload/update/v3/static/trustedr/en/authrootstl.cab > authrootstl.cab
          cargo build
          ./target/debug/ctltool dump ./authrootstl.cab
